<article>
    <div>
        <span>{{title}}</span>
        <span>{{text_content}}</span>
    </div>
    <div>
        Posted on {{created_at}} by {{user.username}}
        <a href="/post/{{id}}">{{comments.length}} Comments</a>
    </div>
</article>